/*body{
    margin:0;
    background-color: #009688;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/
*{box-sizing: border-box;}

html, body {margin: 0; height: 100%; overflow: hidden}

.quiz-container{
    max-width: 700px;
    min-height: 500px;
    background-color: rgb(54, 50, 50);
    margin: 30px auto;
    border-radius: 8px;
    padding: 30px;
}

.question-number h3 {
    color:#33ca0d;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-bottom: 10px;
}


.question{
    font-size: 24px;
    color: rgb(218, 213, 213);
    padding:15px 0;
    margin-bottom: 20px;
}

.options div{
    background-color: #ccc;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    padding:15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.options div.disabled{
    pointer-events: none;
}

.options div.correct{
    z-index: 1;
    color: rgb(213, 218, 214);
}

.options div.correct::before {
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:green;
    z-index: -1;

    animation: animateBackground 1s ease;
    animation-fill-mode: forwards;
}

@keyframes animateBackground{
    0%{
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.options div.wrong{
    z-index: 1;
    color: white;
}

.options div.wrong::before {
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:red;
    z-index: -1;

    animation: animateBackground 1s ease;
    animation-fill-mode: forwards;
}

/*.button .btn{
    padding: 10px 30px;
    background-color: #40c91e;
    font-size: 18px;
    color: white;
    border:none;
    cursor:pointer;
    border-radius: 5px;
    display: inline-block;
    margin:10px 0;
}*/

.btn1{

    padding: 15px 50px;
    border:none;
    background-color: #1a9940;
    border-radius: 5px;
    font-size: 16px;
    margin:15px 0 20px;
    color: rgb(231, 231, 231);
    background: linear-gradient(90deg, rgb(12, 175, 85)0%, rgba(76, 223, 71, 0.829)100%);
    cursor: pointer;
}

.btn1:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(52, 192, 94, 0.747);
    transition: transform 150ms;
    transform: scale(1.03);
 }

.answers-tracker div{
    height: 40px;
    width: 40px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}


.answers-tracker div.correct{
    background-color: green;
    background-image:url('img/correct.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;  
}

.answers-tracker div.wrong{
    background-color: red;
    background-image:url('img/wrong.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.quiz-over{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 30, 30);
    z-index: 10;
    display:none;
    align-items: center;
    justify-content: center;
}
.show{
    display:flex;
}

.quiz-over .box{
    background-color: rgb(54, 50, 50);
    border-radius: 10px;
    text-align: center;
    flex-basis: 700px;
    max-width: 700px;
    color: white;
    box-shadow: #009688;
}

.quiz-over .box  h1{
    font-size: 30px;
    margin:0 0 20px
}
/* 
.quiz-over .box button{
    padding: 15px 50px;
    border:none;
    background-color: #1a9940;
    border-radius: 5px;
    font-size: 16px;
    margin:15px 0 20px;
    color: rgb(231, 231, 231);
    background: linear-gradient(90deg, rgb(12, 175, 85)0%, rgba(76, 223, 71, 0.829)100%);
    cursor: pointer;

} */
.social-container {
    width: 400px;
    margin: 40vh auto;
    text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}

li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1.2em;

}

i {
        color: #fff;
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all 4ms ease-out;
}

    a {
        display: inline-block;
      
        
        }
        
       