:root{
  background-color: rgb(32, 30, 30);
 
}
/*-- the remove the original style from markup-*/
*{

border :0;
outline :0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
font-size: 62.5%;
}


.container{
  display: flex;
  flex-direction:column ;
  width: 80vw;
  height: 80vh;
  background-color: rgb(54, 50, 50);
  justify-content: center;
  max-width: 80rem;
  margin: 3rem auto;
  padding: 3rem 3rem; 
}  

/*-----NaV---*/

.nav{
  width: 50%;
}
#primary-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
 }




.nav ul {
  display: flex;
  margin-top: 10%;
  margin-left: 4%;
  gap: 10%;
}
 
.nav ul li a {
text-decoration: none;
 color: #fff;
 font-size: 2rem;
  
}
.nav li a:hover{
  color:  rgb(6, 126, 34);
}
.nav li  a.active {
  text-decoration-line: overline;
  color:  rgb(6, 126, 34)
}

.flex-colunm{
  display: flex;
  flex-direction: column;
}
.flex-center{
  justify-content: center;
  align-items: center;
}

label {
    display: block;
    margin-bottom: 10px;
    }
  
.container-quiz1 {
  display: flex;
  flex-direction:column ;
  width: 80vw;
  height: 80vh;
  background-color: rgb(88, 79, 79);
  justify-content: center;
  max-width: 80rem;
  margin: 3rem auto;
  padding: 3rem 3rem; 
      
    }
    
h2 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #333;
    }
    
    #question {
      font-size: 30px;
      margin-bottom: 20px;
    }
    
    #choices {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      font-size: 28px;
    }
    
    #choices button {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #ddd;
      color: #333;
      cursor: pointer;
    }
    
    #choices button:hover {
      background-color: #ccc;
    }
    
    #submit {
      padding: 15px 50px;
      border:none;
      background-color: rgb(6, 126, 34);
      border-radius: 5px;
      font-size: 16px;
      margin:15px 0 20px;
      color: rgb(231, 231, 231);
      background: linear-gradient(90deg, rgb( rgb(6, 126, 34))0%, rgba( rgb(6, 126, 34) 0.829)100%);
      cursor: pointer;
    }
    
    #submit:hover {
      background-color: #34c917;
    }
    
    #timer, #score {
      font-size: 26px;
      margin-bottom: 10px;
    }
    
    #timer span, #score span {
      font-weight: bold;
      color: green;
    }
    
    #result {
      font-size: 18px;
      margin-top: 20px;
    }
    